[submodule "glew"]
	path = cpp/dependencies/glew
	url = git://github.com/nigels-com/glew.git

[submodule "glfw"]
	path = cpp/dependencies/glfw
	url = git://github.com/glfw/glfw.git

[submodule "imgui"]
	path = cpp/dependencies/imgui
	url = git://github.com/ocornut/imgui.git
    branch = docking